%p
  %strong Title:
  = @post.title
%p
  %strong Text:
  = @post.text

%h3 Comments:
- @post.comments.each do |comment|
  %p
    %strong Commenter:
    = comment.commenter
  %p
    %strong Comment:
    = comment.body
  %p
    = link_to 'Delete Comment', [comment.post, comment], method: :delete

%h3 Add Comment:
= form_for [@post, @post.comments.build] do |f|
  %p
    = f.label :commenter
    = f.text_field :commenter
  %p
    = f.label :comment
    = f.text_area :body
  %p
    = f.submit

= link_to 'Back', posts_path
= link_to 'Edit', edit_post_path(@post)